<!DOCTYPE html>

<html>
<head>

</head>
    <title>404</title>
    <link rel="icon" href="/img/weather.png">

    <link rel="stylesheet" href="/css/styles.css">
        {{>header}}
        <p>{{errorMessage}}</p>
<body>
    <div class="main-content">

    </div>
    
    {{>footer}}

</body>


</html>